<ul>
    <li>@Html.ActionLink("Home", "HomePage", "Content")</li>
    <li>@Html.ActionLink("My Profile", "MyProfile", "Content")</li>
    <li>@Html.ActionLink("Uploads", "Uploads", "Photos")</li>
    <li>@Html.ActionLink("Popular", "Popular", "Populars")</li>
</ul>
