@model ProofOfConcept.Models.Photos
<div class="col-lg-12 col-md-12 col-sm-12 thumbnail img-responsive text-center">
    <img src="@Model.PhotoPath" style="width:inherit" />
</div>
<span>@Html.DisplayFor(modelItem => modelItem.Loves)</span>
@{ var user_Stat = ViewBag.my_Stat.ToString(); }
<span class="glyphicon @{(user_Stat == "Loved") ? "glyphicon-heart" : "glyphicon-heart-empty"}" style="color:hotpink"></span>|
<span>@Html.DisplayFor(modelItem => modelItem.Likes)</span>
<span class='glyphicon glyphicon-thumbs-up @{(user_Stat == "Liked") ? "liked" : ""}'></span> |
<span>@Html.DisplayFor(modelItem => modelItem.Dislikes)</span>
<span class="glyphicon glyphicon-thumbs-down @{(user_Stat == "Disliked") ? "disliked" : "";} "></span>