@model IEnumerable<ProofOfConcept.Models.Photos>
<h3>Popular Pictures</h3>
<hr />
    <div class="col-lg-12 col-md-12 col-sm-12">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center" style="padding:10px 10px 10px 10px;height:20%" id="@item.PhotoID">
                    @Html.Partial("PhotoStat", item);
                </div>
            }
    </div>
    <script src="~/Scripts/Uploads.js"></script>
